.installed.cfg
.coverage
.mr.developer.cfg
htmlcov
bin
develop-eggs
downloads
eggs
fake-eggs
include
lib
logrotate.conf
parts
python-eggs
src
var
versions-picked.cfg
pip-selfcheck.json
uuid.txt
.idea/