.installed.cfg
.coverage
.mr.developer.cfg
htmlcov
bin
core.properties
develop-eggs
downloads
eggs
fake-eggs
include
lib
logrotate.conf
make.log
parts
python-eggs
src
var
versions-picked.cfg
pip-selfcheck.json
uuid.txt
.idea/
share
config/core.properties
local
