# install collective.solr
# call /@@solr-maintenance/reindex to index in solr

[buildout]
parts +=
    core-prop
    solr

auto-checkout =
    collective.solr

[zope-conf]
solr-eggs =
    collective.solr
    collective.indexing


[versions]
collective.solr = 8.0.0a8
kitconcept.recipe.solr = 1.0.0a5

# Required by:
# collective.solr==8.0.0a5
collective.indexing = 2.1
collective.js.showmore = 1.0a4

# Required by:
# kitconcept.recipe.solr==1.0.0a5
hexagonit.recipe.download = 1.7.1

plone.restapi = 5.0.2
PyJWT = 1.7.1
plone.schema = 1.2.0
plone.rest = 1.6.0
jsonschema = 3.1.1
pyrsistent = 0.15.5
importlib-metadata = 0.23
attrs = 19.3.0
zipp = 0.6.0
pathlib2 = 2.3.5
contextlib2 = 0.6.0.post1
more-itertools = 5.0.0
scandir = 1.10.0


[instance1]
eggs += ${zope-conf:solr-eggs}
environment-vars += SOLR_PORT ${port:instance-solr-http}

[testenv]
SOLR_PORT = ${port:instance-solr-http}

[core-prop]
recipe = collective.recipe.template
min-ram = 128M
max-ram = 1024M
config = config/default
input = config/core.properties.tmpl
output = ${core-prop:config}/core.properties

[solr]
recipe = kitconcept.recipe.solr
src = http://archive.apache.org/dist/lucene/solr/8.2.0/solr-8.2.0.tgz
solr-config = ${core-prop:config}
port = ${port:instance-solr-http}
java_opts =
    -server
    -Xms${core-prop:min-ram}
    -Xmx${core-prop:max-ram}
