[buildout]
parts +=
    solr-download
    solr-instance

[versions]
collective.recipe.solrinstance = 5.3.3
gocept.download = 0.9.5
collective.solr = 5.0.3
collective.indexing = 2.0
collective.js.showmore = 1.0a4
Genshi = 0.7.1

[solr-download]
recipe = gocept.download
strip-top-level-dir = true
url = http://archive.apache.org/dist/lucene/solr/3.6.2/apache-solr-3.6.2.tgz
md5sum = e9c51f51265b070062a9d8ed50b84647

[instance1]
eggs+= collective.solr

[settings]
solr-host = 127.0.0.1
solr-port = 8983
solr-min-ram = 128M
solr-max-ram = 256M

[solr-instance]
recipe = collective.recipe.solrinstance
solr-location = ${solr-download:location}
host = ${settings:solr-host}
port = ${settings:solr-port}
basepath = /solr
# autoCommitMaxTime = 900000
max-num-results = 500
section-name = SOLR
unique-key = UID
logdir = ${buildout:directory}/var/solr
default-search-field = default
unique-key = UID
solr-version = 4
default-operator = AND
updateLog = true
requestParsers-enableRemoteStreaming = true
java_opts =
  -Dcom.sun.management.jmxremote
  -Djava.rmi.server.hostname=127.0.0.1
  -Dcom.sun.management.jmxremote.port=8984
  -Dcom.sun.management.jmxremote.ssl=false
  -Dcom.sun.management.jmxremote.authenticate=false
  -server
  -Xms${settings:solr-min-ram}
  -Xmx${settings:solr-max-ram}

index =
    name:Creator                 type:string stored:true
    name:Date                    type:date stored:true
    name:Description             type:text copyfield:default stored:true
    name:Language                type:string stored:true
    name:SearchableText          type:text copyfield:default stored:false
    name:Subject                 type:string copyfield:default stored:true multivalued:true
    name:Title                   type:text copyfield:default stored:true
    name:Type                    type:string stored:true
    name:UID                     type:string stored:true required:true
    name:allowedRolesAndUsers    type:string stored:false multivalued:true
    name:assigned_group          type:string indexed:true stored:true
    name:assigned_user           type:string indexed:true stored:true
    name:cmf_uid                 type:string indexed:true stored:true
    name:commentators            type:string indexed:true stored:true
    name:content_category_uid    type:string indexed:true stored:true multivalued:true
    name:created                 type:date stored:true
    name:downOrUpWorkflowAgain   type:string indexed:true stored:true
    name:default                 type:text indexed:true stored:false multivalued:true
    name:due_date                type:date indexed:true stored:true
    name:effective               type:date indexed:true stored:true
    name:effectiveRange          type:date indexed:true stored:true
    name:enabled                 type:boolean indexed:true stored:true
    name:end                     type:date indexed:true stored:true
    name:expires                 type:date stored:true
    name:externalIdentifier      type:string indexed:true stored:true
    name:getAssociatedGroups     type:string indexed:true stored:true multivalued:true
    name:getCategory             type:string indexed:true stored:true
    name:getCompleteness         type:string indexed:true stored:true multivalued:true
    name:getConfigId             type:string indexed:true stored:true
    name:getCopyGroups           type:string indexed:true stored:true multivalued:true
    name:getDate                 type:date indexed:true stored:true
    name:getGroupInCharge        type:string indexed:true stored:true
    name:get_full_title          type:string indexed:false stored:true
    name:getIcon                 type:string indexed:false stored:true
    name:getId                   type:string indexed:false stored:true
    name:getItemIsSigned         type:string indexed:true stored:true
    name:getItemNumber           type:string indexed:true stored:true
    name:getObjPositionInParent  type:string stored:true
    name:getPreferredMeeting     type:string indexed:true stored:true
    name:getPreferredMeetingDate type:date indexed:true stored:true
    name:getProposingGroup       type:string indexed:true stored:true
    name:getRawClassifier        type:string indexed:true stored:true
    name:getRawRelatedItems      type:string stored:true
    name:getRemoteUrl            type:string indexed:false stored:true
    name:getTakenOverBy          type:string indexed:true stored:true
    name:hasAnnexesToPrint       type:string indexed:true stored:true
    name:hasAnnexesToSign        type:string indexed:true stored:true multivalued:true
    name:id                      type:string indexed:false stored:true
    name:in_out_date             type:date stored:true
    name:in_reply_to             type:string stored:true
    name:indexAdvisers           type:string indexed:true stored:true multivalued:true
    name:is_default_page         type:boolean stored:true
    name:is_folderish            type:boolean stored:true
    name:labels                  type:string stored:true multivalued:true
    name:linkedMeetingDate       type:date indexed:true stored:true
    name:linkedMeetingUID        type:string indexed:true stored:true
    name:listType                type:string indexed:true stored:true
    name:meta_type               type:string stored:true
    name:modified                type:date stored:true
    name:object_provides         type:string stored:false multivalued:true
    name:path_depth              type:integer indexed:true stored:false
    name:path_parents            type:string indexed:true stored:false multivalued:true
    name:path_string             type:string indexed:false stored:true
    name:pollType                type:string indexed:true stored:true
    name:portal_type             type:string stored:true
    name:previous_review_state   type:string indexed:true stored:true
    name:privacy                 type:string indexed:true stored:true
    name:reviewProcessInfo       type:string indexed:true stored:true
    name:review_state            type:string stored:true
    name:searchwords             type:string stored:false multivalued:true
    name:sendToAuthority         type:string indexed:true stored:true
    name:sentToInfos             type:string indexed:true stored:true
    name:showinsearch            type:boolean stored:false
    name:sortable_title          type:string stored:true
    name:start                   type:date stored:true
    name:templateUsingGroups     type:string indexed:true stored:true multivalued:true
    name:toDiscuss               type:boolean indexed:true stored:true
    name:total_comments          type:string stored:true
