[instance1]
eggs +=
  pas.plugins.imio
zcml +=
  pas.plugins.imio

environment-vars +=
  consumer_key_agents 61484639-c721-45a5-b804-23f908f34be4
  consumer_secret_agents 68a8bc35-6461-43c7-96eb-8369afb17d7d
  authentic_agents_hostname agents.staging.imio.be
  service_ou 0123456789
  service_slug imiodemo-iadelib
  PLONE_CSRF_DISABLED true

[versions]
pas.plugins.imio = 1.0.5
plone.protect = 3.0.26
cryptography = 3.3.2
;plone.app.changeownership = 1.0
;Authomatic = 1.0.0
;pas.plugins.authomatic = 1.0b1
;asn1crypto = 0.24.0
;cryptography = 2.6.1
;ipaddress = 1.0.23
;cffi = 1.11.2
;pycparser = 2.20
;enum34 = 1.1.10
Authomatic = 1.0.0
cffi = 1.14.5

# Required by:
# cryptography==3.3.2
ipaddress = 1.0.23

# Required by:
# pas.plugins.imio==1.0.5
pas.plugins.authomatic = 1.0b201

# Required by:
# pas.plugins.imio==1.0.5
plone.app.changeownership = 1.0

# Required by:
# cffi==1.14.5
pycparser = 2.20
