version: '2.4'
services:

  libreoffice:
    image: harbor.imio.be/common/libreoffice:25.2
    command: soffice --headless --norestore --accept="socket,host=libreoffice,port=2002,tcpNoDelay=1;urp;StarOffice.ServiceManager"
    expose:
      - "2002"
    volumes:
      - tmp:/tmp
      - vartmp:/var/tmp
    networks:
      - delib_internal
    labels:
      SERVICE_NAME: "libreoffice"
    restart:
      unless-stopped
    mem_limit: 500M
    mem_reservation: 150M
    mem_swappiness: 0

  zeo:
    image: harbor.imio.be/delib/iadelib:latest
    command: zeoserver
    environment:
      - HOSTNAME=zeo
    volumes:
      - ./data:/data
      - tmp:/tmp
      - vartmp:/var/tmp
    networks:
      - delib_internal
    labels:
      SERVICE_NAME: "zeo"
    healthcheck:
      test: "/plone/zeo_healthcheck.sh"

  instance:
    image: harbor.imio.be/delib/iadelib:latest
    command: instance
    ports:
      - "20081:8081"
    networks:
      - delib_internal
      - delib_external
    depends_on:
      - zeo
      - libreoffice
    environment:
      - ZEO_CLIENT_CACHE_SIZE=1000MB
      - ZODB_CACHE_SIZE=100000
      - CLUSTER=iadelib_pm42
      - HOSTNAME=instance1
      - PLONE_PATH=demo
      - ADMIN_PASSWORD=test
    volumes:
      - ./data:/data
      - tmp:/tmp
      - vartmp:/var/tmp
    healthcheck:
      test: "curl -f localhost:8081/$$PLONE_PATH/@@ok"
    labels:
      SERVICE_NAME: "instance1"

  worker-async:
    image: harbor.imio.be/delib/iadelib:latest
    command: instance-async
    networks:
      - delib_internal
    depends_on:
      - zeo
      - libreoffice
    environment:
      - ZEO_CLIENT_CACHE_SIZE=1000MB
      - ZODB_CACHE_SIZE=100000
      - CLUSTER=iadelib_pm42
      - HOSTNAME=worker-async
      - PLONE_PATH=demo
    healthcheck:
      test: "curl -f localhost:8089/$$PLONE_PATH/@@ok"
    volumes:
      - ./data:/data
      - tmp:/tmp
      - vartmp:/var/tmp
    labels:
      SERVICE_NAME: "worker-async"

  worker-amqp:
    image: harbor.imio.be/delib/iadelib:latest
    command: instance-amqp
    ports:
      - "20085:8286"
    networks:
      - delib_internal
      - delib_external
    depends_on:
      - zeo
    environment:
      - ZEO_CLIENT_CACHE_SIZE=1000MB
      - ZODB_CACHE_SIZE=100000
      - CLUSTER=iadelib_pm42
      - PLONE_PATH=demo
      - MQ_CLIENT_ID
      - MQ_WS_URL
      - MQ_WS_LOGIN
      - MQ_WS_PASSWORD
      - MQ_HOST
      - MQ_PORT
      - MQ_LOGIN
      - MQ_PASSWORD
      - HOSTNAME=worker-amqp
    healthcheck:
      test: "curl -f localhost:8286/$$PLONE_PATH/@@ok"
    volumes:
      - ./data:/data
      - tmp:/tmp
      - vartmp:/var/tmp
    labels:
      SERVICE_NAME: "worker-amqp"

  maintenance:
    image: harbor.imio.be/delib/iadelib:latest
    ports:
      - "20089:8080"
    networks:
      - delib_internal
      - delib_external
    depends_on:
      - zeo
      - libreoffice
    environment:
      - ZEO_CLIENT_CACHE_SIZE=1000MB
      - ZODB_CACHE_SIZE=100000
      - CLUSTER=iadelib_pm42
      - HOSTNAME=maintenance
      - PLONE_PATH=demo
    healthcheck:
      test: "curl -f localhost:8080/$$PLONE_PATH/@@ok"
    volumes:
      - ./data:/data
      - ./data/import:/data/import
      - ./extensions:/plone/parts/instance-debug/Extensions
      - tmp:/tmp
      - vartmp:/var/tmp
    labels:
      SERVICE_NAME: "maintenance"
volumes:
  tmp:
  vartmp:

networks:
  delib_internal:
    internal: true
  delib_external:
