name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - '**'

concurrency:
  group: ${{ github.workflow }}

env:
  IMAGE_NAME: delib/iadelib

jobs:
  seraing:
    runs-on: gha-runners-delib-py3
    steps:
      - name: Build and publish seraing image to harbor
        uses: IMIO/gha/build-push-notify@v3.9.3
        with:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          IMAGE_TAGS: |
            ${{ secrets.HARBOR_URL }}/${{ env.IMAGE_NAME }}:seraing-${{ github.ref_name }}
          REGISTRY_URL: ${{ secrets.HARBOR_URL }}
          REGISTRY_USERNAME: ${{ secrets.DELIB_HARBOR_USERNAME }}
          REGISTRY_PASSWORD: ${{ secrets.DELIB_HARBOR_PASSWORD }}
          MATTERMOST_WEBHOOK_URL: ${{ secrets.DELIB_MATTERMOST_WEBHOOK_URL }}
          DOCKERFILE: './docker/Dockerfile-latest'
          BUILD_ARGS: 'PROFILE=seraing.cfg'
